.inputblock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  border-radius: 8px;
  height: 45px;
  gap: 10px;
  padding-left: 5px;
  .whiteinput {
    width: 565px;
    height: 30px;
    border: none;
    color: black;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    input::-webkit-input-placeholder {
      color: #fff;
    }
  }
  .blackinput {
    width: 565px;
    height: 30px;
    border: none;
    color: white;
    font-size: 18px;
    outline: none;
    background-color: transparent;
    input::-webkit-input-placeholder {
      color: black;
    }
  }
}
